<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>MollyDB Database Server</string>
    <key>Messages</key>
    <dict>
        <key>start</key>
        <string>Starting MollyDB database server</string>
        <key>stop</key>
        <string>Stopping MollyDB database server</string>
        <key>restart</key>
        <string>Restarting MollyDB database server</string>
    </dict>
    <key>OrderPreference</key>
    <string>Late</string>
    <key>Provides</key>
    <array>
        <string>MollyDB</string>
    </array>
    <key>Requires</key>
    <array>
        <string>Disks</string>
        <string>Resolver</string>
    </array>
    <key>Uses</key>
    <array>
        <string>NFS</string>
        <string>NetworkTime</string>
    </array>
</dict>
</plist>
