# Stuff shipped in tarballs
/html/
/html-stamp
/man1/
/man3/
/man7/
/man-stamp
# Other popular build targets
/INSTALL
/mollydb-US.pdf
/mollydb-A4.pdf
/mollydb.html
/mollydb.txt
# GENERATED_SGML
/features-supported.sgml
/features-unsupported.sgml
/errcodes-table.sgml
/version.sgml
/bookindex.sgml
/HTML.index
# Assorted byproducts from building the above
/mollydb.xml
/INSTALL.html
/mollydb-US.aux
/mollydb-US.log
/mollydb-US.out
/mollydb-A4.aux
/mollydb-A4.log
/mollydb-A4.out
